body {
    font-family: Arial, Helvetica, sans-serif;
  }

.container{
  min-height: 90vh;
  display:flex;
  flex-flow: column;
}

.input{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
  width: 100%;
}

.message {
  display: flex;
  border-radius: 1em;
  margin: 1em;
}

.messageForm{
  flex-grow:10;
}

.message.mine{
  justify-content: flex-end;
}

.message.notMine{
  justify-content: flex-start;
}

.messageContent{
  max-width: 50%;
  padding: 1em;
  border-radius: 1em;
}
.messageContent.mine {
  background: #6D454C;
  color: #D7FFAB
}

.messageContent.notMine {
  background: #96ADC8;
  color: #0D1B1E;
}

.userLetters {
  height: 50;
  width: 50;
  border: solid 3px #8B635C;
  border-radius: 25px;
  text-align: center;
  font-size: 18;
  padding-top:7px;
  margin-left: 1em;
  margin-right: 1em;
}

.userForm{
  flex-grow: 1;
}